body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    /* Центрируем по горизонтали */
    font-family: 'Inter', sans-serif;
}

.container {
    margin-top: 200px;
    /* Измените это значение по вашему усмотрению */
}

textarea:focus {
    outline: none;
    /* Убираем обводку при выделении */
}

textarea {
    /* width: 946px; */
    padding: 10px;
    /* Значение выравнивания */
    height: 225px;
    /* Высота поля ввода */
    font-size: 14px;
    color: black;
    border: 1.5px dashed #C2C2C2;
    border-radius: 8px;
    resize: none;
}

form {
    display: flex;
    flex-direction: column;
    padding: 8px 10px;
    gap: 10px;
    width: 1066px;
    /* height: 225px;  */
    background: #FFFFFF;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
}

p {
    font-size: 16px;
    color: #2E683B;
    font-weight: 500;
    font-weight: bold;
}

.slider {
    position: absolute;
    width: 25px;
    height: 300px;
    left: 220px;
    top: 240px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  /* Line */
  .line {
    position: absolute;
    width: 240px;
    height: 4px;
    left: 15px;
    top: 80px;
    border: 1px solid #ECEBEB;
    background-color: #ECEBEB;
    transform-origin: left top;
    transform: rotate(90deg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  /* Ellipse */
  .ellipse {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    background: #ECEBEB;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  /* Positioning of ellipses */
  .ellipse:nth-child(2) {
    top: 79px;
  }
  
  .ellipse:nth-child(3) {
    top: 157px;
  }
  
  .ellipse:nth-child(4) {
    top: 235px;
  }
  
  .ellipse:nth-child(5) {
    top: 313px;
  }
  .inner-circle {
    position: absolute;
    width: 15px; /* Размер круга */
    height: 15px; /* Размер круга */
    background: #2E683B;
    border-radius: 50%; /* Делает круг */
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование п   о горизонтали */
    transform: translate(-50%, -50%); /* Центрирует по центру эллипса */
  }
  